@import "tailwindcss";
@config "../../tailwind.config.ts";

body {
  min-height: 100%;
  font-family: var(--font-inter), sans-serif;
}

* {
  box-sizing: border-box;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #ffdbcc;
  color: #351000;
}
